h1{
	color:#008080;
	font-family:Meiryo;
	text-align:reft;
}
h2{
	color:#4682B4;
	font-family:Meiryo;
	border-width:3px;

}
h4{
	text-align: center;
}
body{
	background-color: #FAF0E6;
}